version: 2.1

jobs:
  util:
    docker:
      - image: darakeon/netcore:alpine-net8
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "Source/Util/Util.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore Source/Util/Util.csproj
      - save_cache:
          key: dotnet-{{ checksum "Source/Util/Util.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: test
          command: dotnet test Source/Util.Tests/Util.Tests.csproj
      - run:
          name: build
          command: dotnet build -c Release --no-restore Source/Util/Util.csproj
      - run:
          path: Source/Util
          name: security check
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive)

            echo "$RESULT"

            NUMBER_OF_PROJECTS=1
            EXPECTED=$(expr $NUMBER_OF_PROJECTS + 4)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $EXPECTED ]; then
                exit 1
            fi
      - run:
          path: Source/Util.Tests
          name: security check tests
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive)

            echo "$RESULT"

            NUMBER_OF_PROJECTS=1
            EXPECTED=$(expr $NUMBER_OF_PROJECTS + 4)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $EXPECTED ]; then
                exit 1
            fi
      - run:
          name: pack
          command: dotnet pack -o packs -c Release --no-restore Source/Util/Util.csproj
      - store_artifacts:
          path: packs
      - run:
          name: upload
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ]; then
              dotnet nuget push --source "${NUGET_FEED_URL}" --api-key="${NUGET_KEY}" packs/*.nupkg --skip-duplicate
            else
              echo 'no main, no push'
            fi

  nhibernate:
    docker:
      - image: darakeon/netcore:alpine-net8
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "Source/NHibernate/NHibernate.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore Source/NHibernate/NHibernate.csproj
      - save_cache:
          key: dotnet-{{ checksum "Source/NHibernate/NHibernate.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: build
          command: dotnet build -c Release --no-restore Source/NHibernate/NHibernate.csproj
      - run:
          path: Source/NHibernate
          name: security check
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive)

            echo "$RESULT"

            NUMBER_OF_PROJECTS=1
            EXPECTED=$(expr $NUMBER_OF_PROJECTS + 4)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $EXPECTED ]; then
                exit 1
            fi
      - run:
          name: pack
          command: dotnet pack -o packs -c Release --no-restore Source/NHibernate/NHibernate.csproj
      - store_artifacts:
          path: packs
      - run:
          name: upload
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ]; then
              dotnet nuget push --source "${NUGET_FEED_URL}" --api-key="${NUGET_KEY}" packs/*.nupkg --skip-duplicate
            else
              echo 'no main, no push'
            fi

  mvc:
    docker:
      - image: darakeon/netcore:alpine-net8
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "Source/MVC/MVC.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore Source/MVC/MVC.csproj
      - save_cache:
          key: dotnet-{{ checksum "Source/MVC/MVC.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: build
          command: dotnet build -c Release --no-restore Source/MVC/MVC.csproj
      - run:
          path: Source/MVC
          name: security check
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive)

            echo "$RESULT"

            NUMBER_OF_PROJECTS=1
            EXPECTED=$(expr $NUMBER_OF_PROJECTS + 4)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $EXPECTED ]; then
                exit 1
            fi
      - run:
          name: pack
          command: dotnet pack -o packs -c Release --no-restore Source/MVC/MVC.csproj
      - store_artifacts:
          path: packs
      - run:
          name: upload
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ]; then
              dotnet nuget push --source "${NUGET_FEED_URL}" --api-key="${NUGET_KEY}" packs/*.nupkg --skip-duplicate
            else
              echo 'no main, no push'
            fi

  tfa:
    docker:
      - image: darakeon/netcore:alpine-net8
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "Source/TwoFactorAuth/TwoFactorAuth.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore Source/TwoFactorAuth/TwoFactorAuth.csproj
      - save_cache:
          key: dotnet-{{ checksum "Source/TwoFactorAuth/TwoFactorAuth.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: build
          command: dotnet build -c Release --no-restore Source/TwoFactorAuth/TwoFactorAuth.csproj
      - run:
          path: Source/TwoFactorAuth
          name: security check
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive)

            echo "$RESULT"

            NUMBER_OF_PROJECTS=1
            EXPECTED=$(expr $NUMBER_OF_PROJECTS + 4)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $EXPECTED ]; then
                exit 1
            fi
      - run:
          name: pack
          command: dotnet pack -o packs -c Release --no-restore Source/TwoFactorAuth/TwoFactorAuth.csproj
      - store_artifacts:
          path: packs
      - run:
          name: upload
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ]; then
              dotnet nuget push --source "${NUGET_FEED_URL}" --api-key="${NUGET_KEY}" packs/*.nupkg --skip-duplicate
            else
              echo 'no main, no push'
            fi

  xml:
    docker:
      - image: darakeon/netcore:alpine-net8
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "Source/XML/XML.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore Source/XML/XML.csproj
      - save_cache:
          key: dotnet-{{ checksum "Source/XML/XML.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: build
          command: dotnet build -c Release --no-restore Source/XML/XML.csproj
      - run:
          path: Source/XML
          name: security check
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive)

            echo "$RESULT"

            NUMBER_OF_PROJECTS=1
            EXPECTED=$(expr $NUMBER_OF_PROJECTS + 4)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $EXPECTED ]; then
                exit 1
            fi
      - run:
          name: pack
          command: dotnet pack -o packs -c Release --no-restore Source/XML/XML.csproj
      - store_artifacts:
          path: packs
      - run:
          name: upload
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ]; then
              dotnet nuget push --source "${NUGET_FEED_URL}" --api-key="${NUGET_KEY}" packs/*.nupkg --skip-duplicate
            else
              echo 'no main, no push'
            fi

  eml:
    docker:
      - image: darakeon/netcore:alpine-net8
    steps:
      - checkout
      - restore_cache:
          keys:
            - dotnet-{{ checksum "Source/Eml/Eml.csproj" }}-{{ checksum "Source/Eml.Tests/Eml.Tests.csproj" }}
      - run:
          name: dependencies
          command: dotnet restore Source/Eml/Eml.csproj && dotnet restore Source/Eml.Tests/Eml.Tests.csproj
      - save_cache:
          key: dotnet-{{ checksum "Source/Eml/Eml.csproj" }}-{{ checksum "Source/Eml.Tests/Eml.Tests.csproj" }}
          paths:
            - ~/.nuget/packages
      - run:
          name: test
          command: dotnet test Source/Eml.Tests/Eml.Tests.csproj
      - run:
          name: build
          command: dotnet build -c Release --no-restore Source/Eml/Eml.csproj
      - run:
          path: Source/Eml
          name: security check
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive)

            echo "$RESULT"

            NUMBER_OF_PROJECTS=1
            EXPECTED=$(expr $NUMBER_OF_PROJECTS + 4)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $EXPECTED ]; then
                exit 1
            fi
      - run:
          path: Source/Eml.Tests
          name: security check tests
          command: |
            RESULT=$(dotnet list package --vulnerable --include-transitive)

            echo "$RESULT"

            NUMBER_OF_PROJECTS=1
            EXPECTED=$(expr $NUMBER_OF_PROJECTS + 4)
            CURRENT=$(echo "$RESULT" | wc -l)

            if [ $CURRENT != $EXPECTED ]; then
                exit 1
            fi
      - run:
          name: pack
          command: dotnet pack -o packs -c Release --no-restore Source/Eml/Eml.csproj
      - store_artifacts:
          path: packs
      - run:
          name: upload
          command: |
            if [ "$CIRCLE_BRANCH" == "main" ]; then
              dotnet nuget push --source "${NUGET_FEED_URL}" --api-key="${NUGET_KEY}" packs/*.nupkg --skip-duplicate
            else
              echo 'no main, no push'
            fi

  dependabot:
    docker:
      - image: python
    steps:
      - checkout
      - run:
          name: change version of csproj changed files
          command: python .github/change-version.py
      - run:
          name: add, commit and push
          command: |
            if [ -e file_path ]; then
              eval "$(ssh-agent -s)"
              echo "$GITHUB_CIRCLE_PK" | sed "s/\\\n/\n/g" > ~/.ssh/id_ed25519
              chmod 600 ~/.ssh/id_ed25519
              ssh-add ~/.ssh/id_ed25519

              git config --global user.email "$GITHUB_CIRCLE_EMAIL"
              git config --global user.name "$GITHUB_CIRCLE_NAME"

              echo $GITHUB_CIRCLE_GPG_KEY | base64 -d > private.pgp
              gpg --import private.pgp
              git config --global user.signingkey $GITHUB_CIRCLE_GPG_ID
              git config --global commit.gpgsign true

              git add $(cat file_path)
              git commit -m "$(cat commit_message)"
              git push --set-upstream origin $CIRCLE_BRANCH
            fi


workflows:
  version: 2.1
  all:
    jobs:
      - util
      - nhibernate
      - mvc
      - tfa
      - xml
      - eml

  dependency:
    jobs:
      - dependabot:
          filters:
            branches:
              only:
                - /^dependabot/.+$/

